<link rel="stylesheet" href="styles/main.css">

<%- include("partials/header.ejs") %>

<% if (locals.postDB) { %>
    <h1 class="blogs-h1">User Blogs</h1>
    <div class="post-container">
        <% for (var i = 0; i < postDB.length; i++) { %>
            <div class="user-post">
                <img src="#" width="90%" height="40%">
                <div class="text-container">
                    <a href="#"><h2><%= postDB[i].title %></h2></a>
                    <p><%= postDB[i].content %></p>
                    <small>By: <%= postDB[i].author %> <br> <%= postDB[i].timestamp %></small>
                </div>
                <div class="icon-container">
                    <div class="update-delete-container">
                        <a href="/delete/<%= postDB[i].id %>"><img src="images/delete-icon.png" alt="delete-icon" height="20px"></a>
                        <a href="/update/<%= postDB[i].id %>"><img src="images/update-icon.png" alt="update-icon" height="20px"></a>
                    </div>
                </div>
            </div>
        <% } %>
    </div>
<% } else { %>
    <h1 class="blogs-h1">There are no blogs yet.</h1>
<% } %>



<%- include("partials/footer.ejs") %>